{% extends "base.html" %}

{% block page_title %}
  {{page_title}}
{% endblock page_title %}


{% block contents %}
  <h1 class="text-center">{{page_title}}</h1>
  <br>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Nama Depan</th>
      <th scope="col">Nama Belakang</th>
      <th scope="col">Kelas</th>
      <th scope="col">Jurusan</th>
      <th scope="col">Alamat</th>
      <th scope="col">Hapus Data</th>
      <th scope="col">Update Data</th>

    </tr>
  </thead>
  <tbody>
    {% for person in semua_data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{person.nama_depan}}</td>
      <td>{{person.nama_belakang}}</td>
      <td>{{person.kelas}}</td>
      <td>{{person.jurusan}}</td>
      <td>{{person.alamat}}</td>
      <td><a class="btn btn-danger" href="{% url 'absen:delete' person.id %}">Hapus Data</a></td>
      <td><a class="btn btn-primary" href="{% url 'absen:update' person.id %}">Update Data</a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<a class="btn btn-primary" href="{% url 'absen:create' %}">Tambah Data</a>
{% endblock contents %}
